<!-- go.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>{{.Title}}</h1>

<!-- Форма для добавления вопроса -->
<form method="post">
    <label for="question">Your Question:</label>
    <textarea name="question" required></textarea>

    <!-- Добавляем поле для выбора категории -->
    <label for="category">Select Category:</label>
    <select name="category" id="category">
        <option value="easy">Easy</option>
        <option value="middle">Middle</option>
        <option value="hard">Hard</option>
    </select>

    <button type="submit">Ask Question</button>
</form>

<!-- Список вопросов -->
<ul>
    {{range .Questions}}
    <li>
        <p>{{.Text}}</p>
        <small>Author: {{.Author}}, Category: {{.Category}}, Created At: {{.CreatedAt}}</small>

        <!-- Показываем форму только при просмотре вопроса -->
        {{ if not .AddingQuestion }}
        <!-- Форма для отправки ответа -->
        <form method="post">
            <input type="hidden" name="questionID" value="{{.ID}}">

            <!-- Используйте уникальный ID для label -->
            <label for="answer{{.ID}}">Your Answer:</label>

            <!-- Используйте уникальный ID для textarea -->
            <textarea name="answer" id="answer{{.ID}}" required></textarea>

            <button type="submit">Submit Answer</button>
        </form>

        <!-- Форма для редактирования ответа -->
        <form method="post">
            <input type="hidden" name="editAnswerID" value="{{.ID}}">
            <label for="editedAnswerText{{.ID}}">Edit Your Answer:</label>
            <textarea name="editedAnswerText" id="editedAnswerText{{.ID}}" required>{{.AnswerText}}</textarea>
            <button type="submit">Edit Answer</button>
        </form>
        {{ end }}
    </li>
    {{end}}
</ul>

</body>
</html>
